@import url(../../commen.css);
html,
body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
}

#confetti {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}